<%= form_tag sales_associate_sales_associate_news_path(sales_associate_id: current_sales_associate), remote: true do |f| %>
    <div class="form-group">
      <%= label_tag :content, nil, class: "sr-only"%>
      <%= text_area_tag :content, nil, class: "form-control", required: true, placeholder: t(".news")%>
    </div>
    <%= submit_tag t(".submit"), class: "btn btn-default"%>
<% end %>