 <% if current_sales_associate? sales_associate %>
     <h4>Former Positions</h4>

      <h5><%= link_to t(".stores"), sales_associate_stores_path(sales_associate_id: sales_associate), class:"btn btn-info" %></h5>
      
      <% if sales_associate.stores.empty? %>
          You are not working for any store right now.<br/>
          <%= link_to t(".find_store"), sales_associate_stores_path(sales_associate_id: sales_associate) %>
      <% end %>
  <% end %>
  <% @sales_associate.old_stores.each do |position| %>
      <p class="bg-info">
        <%= raw store_position_format position %>
      </p>
  <% end %>

