<% if sales_associate.stores.empty? %>
    You are not working for any store right now.<br/>
    <%=link_to t(".find_store"), sales_associate_stores_path(sales_associate_id: sales_associate)%>
<% end %>
<% @sales_associate.all_positions.each do |position| %>
    <p>
        <%= raw  store_position_format position %>
    </p>
    <hr/>
<% end %>
<%= link_to t(".stores"), sales_associate_stores_path(sales_associate_id: sales_associate)%>
