<div class="container-fluid padded">
	<ol class="breadcrumb">
	  <li><%= link_to "Back", :back %></li>
	</ol>
  	<h2>Salespeople</h2>

  <%= render 'form' %>
  <br>
  <%= render partial: "stores", locals:{ sales_associate: sales_associate } %>
  <br>
  <%= button_to  t(".destroy"), @sales_associate, method: :delete, data: {confirm: t(".destroy_confirm")}, class: "btn btn-danger btn-sm"%>
</div>