<div class="container-fluid padded">
	<ol class="breadcrumb">
	  <li><%= link_to "Back to stores", welcome_locate_path%></li>
	</ol>
    <h2>SalesPeople</h2>
    <p>
    	<h4>Fill this form out to join the community</h4>
	</p>
    <%= render 'form' %>
</div>


