@import "config/variables";
body {
    background: linear-gradient( to right, $cararra, white);
}

#wrapper {
	background-image: image-url("photowrapper2.jpg");
	height: 920px;
	padding-top: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow:2px 2px 5px rgba(0, 0, 0, 0.7);
	color: $porcelain;
	h1, h2{
	font-family: "Raleway";
	}
}

.features {
	p {
	font-weight: 400;
	color: $tundora;
	}
	img {	
	margin-bottom: 1em;
	}
}

#banner {
	background: $cerulean;
	height: 140px;
	padding-top: 90px;
	padding-bottom: 50px;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	color: white;
}

.bg-white {
  background: white;
  color: $tundora;
  font-size: 12px;
  height: 135px;
  padding: 15px;
  margin: 1px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px $silverChalice;
  a {
  	color: $tundora;
  	:hover {
  	color: $cerulean;
  	}
  }
  :hover {
  	background: $porcelain;
  	text-decoration: none;
  	}
}

#About {
	font-weight: 300;
	color: $tundora;
 	img {
	margin-bottom: 1em;
	}
}

.title {
	font-size: 24px;
	text-shadow: 1px 1px 3px $silverChalice;
}