<%= link_to 'Show', sales_associate_store_path(sales_associate_id: current_sales_associate, id: @store), class: "btn btn-primary" %>
<%= link_to 'Back', sales_associate_stores_path(sales_associate_id: current_sales_associate), class: "btn btn-default" %>

<h2>Editing Store</h2>

<%= render 'form' %>


