
$btn-color: transparent;
$btn-opacity: 0.6;
$btn-hover-opacity: 1;

.btn-rounded {
  background: transparent;
  border-radius: 50px;
  padding: 0.6em 1.5em;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  opacity: $btn-opacity;
  transition: opacity 0.3s ease;
  &:hover{
  background: transparent;
    opacity: $btn-hover-opacity;
    color: white;
  }
}
