<div class="text-center" id="banner">
  <p>
    SALES ASSOCIATES ? 
    <br>COME GROW THE COMMUNITY, TELL AND RETAIN YOUR CLIENTS !  
    <br><button type="button" class="btn-rounded">SIGN UP</button>
  </p>
</div> 

<div class="row">
  
  <div class= "col-sm-4">
    <% @stores.each do |store|  %>
        <div class="row">
          <div class="col-xs-12 bg-white">

            <div class="media">
              <div class="media-left">
                <a href="#">
                  <%= image_tag store.logo.url(:medium),
                                alt: store.brand.name,
                                class: "img-thumbnail media-object",
                                "data-content" => image_icon_data_content(store.logo.url(:medium), store.brand.name) %>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=link_to store.brand.name, "#" %></h4>
                <%= raw address_format store, false%>

              </div>
            </div>


          </div>

        </div>
    <% end %>
  </div>

  <div class= "col-sm-8">
    <div id="map" style="width: 100%; height: 550px;"></div>

    <script type="application/javascript">
      setStoresToMap(<%= raw @stores.to_json include: [:brand]%>);
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC9IaTnQh2ds8DAcLWL4zvU-dYBgrdQss&callback=loadLocateMap"/>


    </div>
  </div>
</div>

  <div class="container text-center padded">
    <h3>Get news from MyLuxee</h3>
    <p>Leave us your mail, we won't be sending sacks of emails. Promise.</p>
        <form class="form-inline" role="form" action="//myluxee.us11.list-manage.com/subscribe/post?u=b7959a16cabf22b1008be1d01&amp;id=faf2916d4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
        <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="Grow together" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </form>
      </div>
  </div>

<script>
      $(document).ready(function(){
    $(".img-popover").popover({
      html: true,
      trigger: "hover",
      placement: "bottom"
    });
  })
</script>