<div class="container terms-privacy">
<h3>MyLuxee - Privacy Policy</h3>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p>Your privacy is important to <strong>MyLuxee</strong>. This privacy statement provides information about the personal information that <strong>MyLuxee</strong> collects, and the ways in which <strong>MyLuxee</strong> uses that personal information.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Personal information collection</strong></p>
<p>&nbsp;</p>
<p><strong>MyLuxee</strong> may collect and use the following kinds of personal information:</p>
<p>&nbsp;</p>
<ul>
  <li>information about your use of this website;</li>
  <li>information that you provide using for the purpose of registering with the website;</li>
  <li>information about transactions carried out over this website ;</li>
  <li>information that you provide for the purpose of subscribing to the website services; and</li>
  <li>any other information that you send to <strong>MyLuxee</strong>.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Using personal information</strong></p>
<p>&nbsp;</p>
<p><strong>MyLuxee </strong>may use your personal information to:</p>
<p>&nbsp;</p>
<ul>
  <li>administer this website;</li>
  <li>personalize the website for you;</li>
  <li>enable your access to and use of the website services;</li>
  <li>publish information about you on the website;</li>
  <li>send to you products that you purchase;</li>
  <li>supply to you services that you purchase;</li>
  <li>send to you statements and invoices;</li>
  <li>collect payments from you; and</li>
  <li>send you marketing communications.</li>
</ul>
<p>&nbsp;</p>
<p>Where <strong>MyLuxee</strong> discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement.</p>
<p>&nbsp;</p>
<p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, <strong>MyLuxee </strong>may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>
<p>&nbsp;</p>
<p><strong>Securing your data</strong></p>
<p>&nbsp;</p>
<p><strong>MyLuxee</strong> will take reasonable technical and organizational precautions to prevent the loss, misuse or alteration of your personal information.</p>
<p>&nbsp;</p>
<p><strong>MyLuxee</strong> will store all the personal information you provide on its secure servers.</p>
<p>&nbsp;</p>
<p>Information relating to electronic transactions entered into via this website will be protected by encryption technology.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Cross-border data transfers</strong></p>
<p>&nbsp;</p>
<p>Information that <strong>MyLuxee</strong> collects may be stored and processed in and transferred between any of the countries in which <strong>MyLuxee</strong> operates to enable the use of the information in accordance with this privacy policy.</p>
<p>&nbsp;</p>
<p>In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.</p>
<p>&nbsp;</p>
<p>You agree to such cross-border transfers of personal information.</p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p><strong>Updating this statement</strong></p>
<p>&nbsp;</p>
<p><strong>MyLuxee</strong> may update this privacy policy by posting a new version on this website.</p>
<p>&nbsp;</p>
<p>You should check this page occasionally to ensure you are familiar with any changes.</p>
<p>&nbsp;</p>
<p><strong>Other websites</strong></p>
<p>&nbsp;</p>
<p>This website contains links to other websites.</p>
<p>&nbsp;</p>
<p><strong>MyLuxee</strong> is not responsible for the privacy policies or practices of any third party.</p>
<p>&nbsp;</p>
<p><strong>Contact MyLuxee</strong></p>
<p>&nbsp;</p>
<p>If you have any questions about this privacy policy o<strong>r MyLuxee</strong>'s treatment of your personal information, please write:</p>
<p>&nbsp;</p>
<ul>
  <li>by email to <%=mail_to "contact@myluxee.com", "contact@myluxee.com"%></li>
</ul>
<p>&nbsp;</p>
<p><strong>Credit</strong></p>
<p>&nbsp;</p>
<p>This whole document was created using a Contractology template available at <a href="http://www.freenetlaw.com/">http://www.freenetlaw.com</a>.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>