<div class="container  terms-privacy">
  <h3>MyLuxee Terms and Conditions</h3>
  <p>&nbsp;</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Introduction</strong></p>
  <p>&nbsp;</p>
  <p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
  <p>&nbsp;</p>
  <p>You must be at least 18 years of age to use this website. By using this website and by agreeing to these terms and conditions, you warrant and represent that you are at least 18 years of age.</p>
  <p>&nbsp;</p>
  <p>This website uses cookies. By using this website and agreeing to these terms and conditions, you consent to our <strong>MyLuxee</strong>'s use of cookies in accordance with the terms of <strong>MyLuxee</strong>'s privacy policy.</p>
  <p>&nbsp;</p>
  <p><strong>License to use website</strong></p>
  <p>&nbsp;</p>
  <p>Unless otherwise stated,<strong>MyLuxee</strong> and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>
  <p>&nbsp;</p>
  <p>You may view, download for caching purposes only, and print pages or other content from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
  <p>&nbsp;</p>
  <p>You must not:</p>
  <p>&nbsp;</p>
  <ul>
    <li>republish material from this website (including republication on another website);</li>
    <li>sell, rent or sub-license material from the website;</li>
    <li>show any material from the website in public;</li>
    <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
    <li>edit or otherwise modify any material on the website; or</li>
    <li>redistribute material from this website except for content specifically and expressly made available for redistribution</li>
  </ul>
  <p>&nbsp;</p>
  <p>Where content is specifically made available for redistribution, it may only be redistributed within your organization.</p>
  <p>&nbsp;</p>
  <p><strong>Acceptable use</strong></p>
  <p>&nbsp;</p>
  <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
  <p>&nbsp;</p>
  <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, root kit or other malicious computer software.</p>
  <p>&nbsp;</p>
  <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without <strong>MyLuxee</strong>'s express written consent.</p>
  <p>&nbsp;</p>
  <p>You must not use this website to transmit or send unsolicited commercial communications.</p>
  <p>&nbsp;</p>
  <p>You must not use this website for any purposes related to marketing without <strong>MyLuxee</strong>'s express written consent.</p>
  <p>&nbsp;</p>
  <p><strong>Restricted access</strong></p>
  <p>&nbsp;</p>
  <p>Access to certain areas of this website is restricted. <strong>MyLuxee</strong> reserves the right to restrict access to other]areas of this website, or indeed this entire website, at <strong>MyLuxee</strong>'s discretion.</p>
  <p>&nbsp;</p>
  <p>If <strong>MyLuxee</strong> provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.</p>
  <p>&nbsp;</p>
  <p>MyLuxee may disable your user ID and password in MyLuxee's sole discretion without notice or explanation.</p>
  <p>&nbsp;</p>
  <p><strong>User content</strong></p>
  <p>&nbsp;</p>
  <p>In these terms and conditions, &ldquo;your user content&rdquo; means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</p>
  <p>&nbsp;</p>
  <p>You grant to <strong>MyLuxee</strong> a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to <strong>MyLuxee </strong>the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>
  <p>&nbsp;</p>
  <p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or <strong>MyLuxee</strong> or a third party (in each case under any applicable law).</p>
  <p>&nbsp;</p>
  <p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee</strong> reserves the right to edit or remove any material submitted to this website, or stored on <strong>MyLuxee</strong>'s servers, or hosted or published upon this website.</p>
  <p>&nbsp;</p>
  <p>Notwithstanding <strong>MyLuxee</strong>'s rights under these terms and conditions in relation to user content, <strong>MyLuxee </strong>does not undertake to monitor the submission of such content to, or the publication of such content on, this website.</p>
  <p>&nbsp;</p>
  <p><strong>No warranties</strong></p>
  <p><strong>&nbsp;</strong></p>
  <p>This website is provided &ldquo;as is&rdquo; without any representations or warranties, express or implied. <strong>MyLuxee </strong>makes no representations or warranties in relation to this website or the information and materials provided on this website.</p>
  <p>&nbsp;</p>
  <p>Without prejudice to the generality of the foregoing paragraph, <strong>MyLuxee</strong> does not warrant that:</p>
  <p>&nbsp;</p>
  <ul>
    <li>this website will be constantly available, or available at all; or</li>
    <li>the information on this website is complete, true, accurate or non-misleading.</li>
  </ul>
  <p>&nbsp;</p>
  <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.</p>
  <p>&nbsp;</p>
  <p><strong>Limitations of liability</strong></p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee</strong> will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
  <p>&nbsp;</p>
  <ul>
    <li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
    <li>for any indirect, special or consequential loss; or</li>
    <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
  </ul>
  <p>&nbsp;</p>
  <p>These limitations of liability apply even if <strong>MyLuxee</strong> has been expressly advised of the potential loss.</p>
  <p>&nbsp;</p>
  <p><strong>Exceptions</strong></p>
  <p>&nbsp;</p>
  <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit <strong>MyLuxee</strong>'s liability in respect of any:</p>
  <p>&nbsp;</p>
  <ul>
    <li>death or personal injury caused by <strong>MyLuxee</strong>'s negligence;</li>
    <li>fraud or fraudulent misrepresentation on the part of <strong>MyLuxee</strong>; or</li>
    <li>matter which it would be illegal or unlawful for <strong>MyLuxee</strong> to exclude or limit, or to attempt or purport to exclude or limit, its liability.</li>
  </ul>
  <p>&nbsp;</p>
  <p><strong>Reasonableness</strong></p>
  <p>&nbsp;</p>
  <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
  <p>&nbsp;</p>
  <p>If you do not think they are reasonable, you must not use this website.</p>
  <p>&nbsp;</p>
  <p><strong>Other parties</strong></p>
  <p>&nbsp;</p>
  <p>You accept that, as a limited liability entity, <strong>MyLuxee</strong> has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against <strong>MyLuxee</strong>'s officers or employees in respect of any losses you suffer in connection with the website.</p>
  <p>&nbsp;</p>
  <p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect <strong>MyLuxee</strong>'s officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as <strong>MyLuxee</strong>.</p>
  <p>&nbsp;</p>
  <p><strong>Unenforceable provisions</strong></p>
  <p>&nbsp;</p>
  <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
  <p>&nbsp;</p>
  <p><strong>Indemnity</strong></p>
  <p>&nbsp;</p>
  <p>You hereby indemnify <strong>MyLuxee</strong> and undertake to keep <strong>MyLuxee</strong> indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by <strong>MyLuxee </strong>to a third party in settlement of a claim or dispute on the advice of <strong>MyLuxee</strong>'s legal advisers) incurred or suffered by <strong>MyLuxee</strong> arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>
  <p>&nbsp;</p>
  <p><strong>Breaches of these terms and conditions</strong></p>
  <p>&nbsp;</p>
  <p>Without prejudice to <strong>MyLuxee</strong>'s other rights under these terms and conditions, if you breach these terms and conditions in any way, <strong>MyLuxee </strong>may take such action as <strong>MyLuxe</strong>e deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
  <p>&nbsp;</p>
  <p><strong>Variation</strong></p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee </strong>may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>
  <p>&nbsp;</p>
  <p><strong>Assignment</strong></p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee </strong>may transfer, sub-contract or otherwise deal with <strong>MyLuxee</strong>'s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
  <p>&nbsp;</p>
  <p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>Severability</strong></p>
  <p>&nbsp;</p>
  <p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
  <p>&nbsp;</p>
  <p><strong>Entire agreement</strong></p>
  <p>&nbsp;</p>
  <p>These terms and conditions, together with documents, constitute the entire agreement between you and <strong>MyLuxee</strong> in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
  <p>&nbsp;</p>
  <p><strong>Law and jurisdiction</strong></p>
  <p>&nbsp;</p>
  <p>These terms and conditions will be governed by and construed in accordance with french governing laws, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of the Tribunal de Commerce de Paris.</p>
  <p>&nbsp;</p>
  <p><strong>Registrations and authorizations</strong></p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee </strong>is being registered at the Tribunal de commerce de Paris. <strong>MyLuxee</strong> is about to get its a registration number.</p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee</strong>'s professional title is MyLuxee, entire property of the <strong>La Pompe </strong><strong>&agrave;</strong> <strong>Protos</strong> SAS and it has been granted in France.</p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee's details</strong></p>
  <p>&nbsp;</p>
  <p>The full name of <strong>MyLuxee</strong> is <strong>MyLuxee</strong>, entire property of <strong>La Pompe </strong><strong>&agrave;</strong> <strong>Protos</strong> SAS.</p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee</strong> is being registered in the french jurisdiction Tribunal de commerce de Paris.</p>
  <p>&nbsp;</p>
  <p><strong>MyLuxee</strong>'s registered address will be rue Lavoisier 75008 Paris.</p>
  <p>&nbsp;</p>
  <p>You can already contact <strong>MyLuxee</strong> by email to contact@myluxee.com.</p>
  <p>&nbsp;</p>
  <p><strong>Credit</strong></p>
  <p>&nbsp;</p>
  <p>
    All the icons used into the app were downloaded from The Noun Project website, by courtesy of the following designers:</br>
    - Dirk Schmücken</br>
    - Simon Child</br>
    - Kim Chouard</br>
    - Simple Icons</br>
    - Christopher Holm-Hansen</br>
    - Iain Hector</br>
    - Mark Shorter</br>
    - Wilson Joseph
  </p>
  <p>&nbsp;</p>
  <p>This whole document was created using a Contractology template available at <a href="http://www.freenetlaw.com/">http://www.freenetlaw.com</a>.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>