@import "config/variables";
// Your footer style

#footer{
	background-color: $tundora;

	color: $silverChalice;

	padding-top: 1em;

	padding-bottom:1em;

	line-height: 25px;

	a {
		color: $silverChalice;
		&:hover {
		color: white;
		text-decoration:none;
		}
	}
} 