<ul class="nav navbar-nav navbar-right">
    <li><%=link_to t(".sign_in_account"), new_account_session_path%></li>
    <li><%=link_to t(".sign_in_sales"), new_sales_associate_session_path%></li>
</ul>
