<div class="container-fluid padded">

	<%= link_to 'Edit', edit_account_path(@account), class: "btn btn-primary" %>
	<br>
	<p>
	  <strong>First name:</strong>
	  <%= @account.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= @account.last_name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @account.email %>
	</p>
</div>
